* {
}

#header {
  background: #fff;
  background: rgba(0,0,0,0.85);
}

body {
  background: black;
}

.page {
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}

#splash {
  z-index: 10001;
}

#big-logo {
  margin-top: 40%;
  width: 100%;
}

a:hover, a:focus {
  background-color: #DFD5D5;
  text-decoration: none;
  color: rgba(0,0,0,.6);
}

a {
  font-family: "Chau Philomene One", "Source Sans Pro", Times, serif;
  color: #DFD5D5;
}

.big-btn {
  font-size: 1.8rem;
  padding: 0 1rem;
  margin-top: -2rem;
}

/* Handles Video Player behaviour
 * - Hides text feedback
 * - Puts video in background
 * - Aligns top of video/image and page
 */
.vjs-control-bar {
  visibility: hidden;
  display: none;
  opacity: 0;
}

#big-video-wrap {
  z-index: -1000;
}

#big-video-vid {
  top:0 !important;
}

#big-video-image {
  top:0 !important;
}

.video-mask {
  /*background-color: #fcfcfc;*/
  background-color: #000000;
  position: fixed;
  z-index: -500;
}

/* OVERIDING BOOTSTRAP DEFAULT NAVBAR */

#small-logo {
  height:10rem;
}

.navbar {
  border: none;
  height: 10rem;
  background-color: rgba(0,0,0,0);
}

.navbar-brand {
  padding: 0;
  padding-left: 15px;
}

.navbar-offset {
  margin-top: 10rem;
}

.navbar-hidden {
  top: -10rem;
}

.navbar-nav>li>a {
  text-shadow: 2px 2px 2px #000000;
  color: rgba(255,255,255,0.95) !important;
  text-align: center;
  font-size: 2.5rem;
  padding: 3rem 2rem 2rem 0rem;
}

.navbar-nav>li:last-of-type {
  padding-right: 3rem;
}

/* MOFO ABOUT PAGE */

.about-title {
  background: rgba(250,250,250,0.60);
  font-size: 2.2rem;
  width: 75%;
}

.about-description {
  background: rgba(0,0,0,0.80);
  color: rgba(250,250,250,0.60);
}

.about {
  padding: .5rem;
}

/* TEAM PAGE PART */

.nametag {
  color: #fcfcfc;
  font-size: 1.8rem;
  line-height: 1.7rem;
  padding: 0;
}

#btn-team-back {
  color: rgba(250,250,250,0.60);
  display: inline-block;
  padding: 1rem;
  font-size: 2rem;
}

.description {
  color: rgba(250,250,250,0.90);
  display: inline-block;
  padding: 2rem 1.5rem;
  font-size: 2rem;
}

.right-border {
  text-align:right;
  border-right:solid #DFD5D5;
  padding-right:0.5rem;
}

.left-border {
  text-align:left;
  border-left:solid #DFD5D5;
  padding-left:0.5rem;
}

.no-padding-x {
  padding-right: 0;
  padding-left: 0;
}


/* SOME PROD BULLSHIT */

.pellicule {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
}

.gradient-top {
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
}

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

/* ALL ABOUT THE CONTACT FORM */

form input[type="text"], form textarea {
  margin: 2rem;
  display: block;
  width: 100%;
  padding: 0.75em;
  background: none;
  border: solid 2px rgba(185,186,187,0.25);
  color: inherit;
  border-radius: 0.5em;
  outline: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  -o-appearance: none;
  -ms-appearance: none;
  appearance: none;
}

ul {
  list-style-type: none;
}

.button {
  background-color: #98c593;
  border: 0;
  border-radius: 3.5em;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  height: 3.5em;
  line-height: 3.5em;
  outline: 0;
  padding: 0 2em 0 2em;
  position: relative;
  text-align: center;
  text-decoration: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  -o-appearance: none;
  -ms-appearance: none;
  appearance: none;
}