* {
  font-family: "Chau Philomene One", "Source Sans Pro", Times, serif;
}

#header {
  background: #fff;
  background: rgba(0,0,0,0.85);
}

body {
  background: black;
}

.page {
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}

#splash {
  z-index: 10001;
}

#big-logo {
  margin-top: 5%;
  max-width: 469px;
  width: 100%;
}

#small-logo {
  height:7rem;
}

.big-btn {
  font-size: 7rem;
  margin: 2rem;
}

/* Handles Video Player behaviour
 * - Hides text feedback
 * - Puts video in background
 * - Aligns top of video/image and page
 */
.vjs-control-bar {
  visibility: hidden;
  display: none;
  opacity: 0;
}

#big-video-wrap {
  z-index: -1000;
}

#big-video-vid {
  top:0 !important;
}

#big-video-img {
  top:0 !important;
}

.video-mask {
  background-color: #fcfcfc;
  position: fixed;
  z-index: -500;
}

/* OVERIDING BOOTSTRAP DEFAULT NAVBAR */

.navbar {
  border: none;
}

.navbar-brand {
  padding: 0;
  padding-left: 15px;
}

.navbar-fixed-top {
  background-color: rgba(0,0,0,0);
  height: 7rem;
}

.navbar-hidden {
  top: -70px;
}

.navbar-nav>li>a {
  text-shadow: 2px 2px 2px #000000;
  color: rgba(255,255,255,0.95) !important;
  text-align: center;
  font-size: 2rem;
  padding: 2.5rem 1.8rem;
}

.nametag {
  color: rgba(250,250,250,0.60);
  background: rgba(0,0,0,0.80);
  display: inline-block;
  padding: 1.5rem 3rem;
  margin-top: 7rem;
  font-size: 5rem;
}

.description {
  color: rgba(250,250,250,0.60);
  background: rgba(0,0,0,0.80);
  display: inline-block;
  padding: 1.5rem 3rem;
  margin-top: 10%;
  font-size: 5rem;
  width: 35%;
}

.left {
  position: absolute;
  margin-top: 20%;
  left: 1rem;
}

.right {
  position: absolute;
  margin-top: 20%;
  right: 1rem;
}

.middle-left {
  position: absolute;
  margin-top: 10%;
  left: 15%;
}

.middle-right {
  position: absolute;
  margin-top: 10%;
  left: 42%;
}

.pellicule {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
}

.gradient {
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
}

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}