.center {
  position: fixed; 
  height: 200%;
  width: 200%; 
  left: -50%; 
  top: -50%; 
}

#splash {
  background-color: black;
  position: absolute;
  z-index: 10001;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;

}

#splash img {
  position: absolute; 
  margin: auto;
  bottom: 0; 
  right: 0; 
  left: 0; 
  top: 0; 
}

#header {
  background: #fff;
  background: rgba(0,0,0,0.85);
}

body {
  color: #39454b;
  color: rgba(255,255,255,0.85);;
}